[Unit]
Description=MoOde Audio OLED Display
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /root/neo2/app.py
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
